<nav>
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>

<% include _messages.ejs %>
