<% include partials/_head.ejs %>
 
  <div class="container">
    <h1><%= currentUser.name %>'s Profile</h1>
    <p><strong>Email:</strong> <%= currentUser.email %></p>
  </div>

<% include partials/_footer.ejs %>
